{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="container mt-5" style="max-width: 900px;">
    <h2 class="text-center mb-4 " style="font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif; color: #000000; font-size: 2rem;">Manage Duty Allotments</h2>
    <div class="d-flex justify-content-between mb-3">
        <!-- <h4 class="text-primary">Room List</h4> -->
        <a href="{% url 'add_duty' %}" class="btn btn-primary">Allot New Duty</a>
    </div>
        <table class="table table-striped table-hover table-bordered">
            <!-- Header with Blue background -->
            <thead class="table-primary">
            <tr>
                <th scope="col"style="text-align: center;">SI.NO</th>
                <th scope="col"style="text-align:center;">Teacher</th>
                <th scope="col"style="text-align: center;">Date</th>
                <th scope="col"style="text-align: center;">Room</th>
                <th scope="col"style="text-align: center;">Hours</th>
                <th scope="col" style="text-align: center;">Actions</th>
            </tr>
        </thead>
    <tbody>
        {% for duty in duties %}
        <tr>
            <td style="text-align:center;">{{ forloop.counter }}</td>
            <td>{{ duty.teacher.teacher_name }}</td>
            <td>{{ duty.date }}</td>
            <td>{{ duty.room.room_no }}</td>
            <td>{{ duty.hours }}</td>

            <td>
                <a href="{% url 'edit_duty' duty.pk %}" class="btn btn-sm btn-outline-warning me-1">Edit</a>
                <a href="{% url 'delete_duty' duty.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}