{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h1 class="display-4 fw-bold" style="font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif; color: #000000; font-size: 2.5rem;">
                Resource Allocation and Invigilation Scheduling Engine
            </h1>
        </div>
    </div>

    <!-- Added a specific class 'index-cards' to target only these cards on the index page -->
     {%if is_chief %}
    <div class="row index-cards">
        <!-- Manage Programmes Card -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-light rounded">
                <div class="card-body">
                    <h5 class="card-title">Manage Programmes</h5>
                    <p class="card-text">Easily organize and oversee all your programs.</p>
                    <a href="{% url 'program_list' %}" class="btn btn-primary btn-block">Go to Programmes</a>
                </div>
            </div>
        </div>

        <!-- Manage Rooms Card -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-light rounded">
                <div class="card-body">
                    <h5 class="card-title">Manage Rooms</h5>
                    <p class="card-text">Maintain room details efficiently.</p>
                    <a href="{% url 'room_list' %}" class="btn btn-primary btn-block">Go to Rooms</a>
                </div>
            </div>
        </div>

        <!-- Manage Course Card -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-light rounded">
                <div class="card-body">
                    <h5 class="card-title">Manage Course</h5>
                    <p class="card-text">Handle your course data with flexibility.</p>
                    <a href="{% url 'course_list' %}" class="btn btn-primary btn-block">Go to Courses</a>
                </div>
            </div>
        </div>

        <!-- Manage Exam Card -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-light rounded">
                <div class="card-body">
                    <h5 class="card-title">Manage Exam</h5>
                    <p class="card-text">Easily schedule and manage exam data.</p>
                    <a href="{% url 'exam_list' %}" class="btn btn-primary btn-block">Go to Exam</a>
                </div>
            </div>
        </div>

        <!-- Manage Timetable Card -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-light rounded">
                <div class="card-body">
                    <h5 class="card-title">Manage Timetable</h5>
                    <p class="card-text">Easily schedule and manage timetable.</p>
                    <a href="{% url 'timetable_list' %}" class="btn btn-primary btn-block">Go to Timetable</a>
                </div>
            </div>
        </div>

        <!-- Manage Teacher Card -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-light rounded">
                <div class="card-body">
                    <h5 class="card-title">Manage Teacher</h5>
                    <p class="card-text">Easily add and manage teacher.</p>
                    <a href="{% url 'teacher_list' %}" class="btn btn-primary btn-block">Go to Teacher</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-light rounded">
                <div class="card-body">
                    <h5 class="card-title">Manage Duty</h5>
                    <p class="card-text">Easily manges duty alotment.</p>
                    <a href="{% url 'duty_list' %}" class="btn btn-primary btn-block">Go to Duty Allotment</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if is_teacher %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-light rounded">
                <div class="card-body">
                    <h5 class="card-title">Manage Duty Preferences</h5>
                    <p class="card-text">Easily manage teacher's duty preferences.</p>
                    <a href="{% url 'preference_list' %}" class="btn btn-primary btn-block">Go to Duty Preferences</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-light rounded">
                <div class="card-body">
                    <h5 class="card-title">View Duty History</h5>
                    <p class="card-text">See your duty allotment history.</p>
                    <a href="{% url 'duty_history' %}" class="btn btn-primary btn-block">View Duty History</a>
                </div>
            </div>
        </div>
        <div class="row index-cards">
            <!-- Display Ongoing Examinations -->
            <div class="col-md-12 mb-4">
                <div class="card shadow-sm border-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Ongoing Examinations</h5>
                        <ul>
                            {% for exam in ongoing_exams %}
                            <li>{{ exam.name }} on {{ exam.date }}</li>
                            {% empty %}
                            <li>No ongoing examinations</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="card shadow-sm border-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Duty Allotments</h5>
                        <ul>
                            {% for duty in duty_allotments %}
                            <li>{{ duty.date }}</li>
                            {% empty %}
                            <li>No duty allotments</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="card shadow-sm border-light rounded">
                    <div class="card-body">
                        <h5 class="card-title">Duty Preferences</h5>
                        <ul>
                            {% for preference in duty_preferences %}
                            <li>Preferred Date: {{ preference.pref_date }}</li>
                            {% empty %}
                            <li>No duty preferences</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        {% endif %}
    </div>
</div>
{% endblock %}

 