{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 900px;">
    <div class="container mt-5" style="max-width: 900px;">
        <h2 class="text-center mb-4" style="font-family: 'Poppins', sans-serif; color: #007bff;">Manage Programmes</h2>
        <div class="d-flex justify-content-between mb-3">
            <h4 class="text-primary" style="font-family: 'Poppins', sans-serif;">Program List</h4>
            <a href="{% url 'add_program' %}" class="btn btn-primary">Add New Program</a>
        </div>
        <table class="table table-hover table-bordered" style="background-color: #a34545; border-color: #082a99;">
            <!-- Header with Blue background -->
            <thead style="background-color: blue; color: white;">
            <tr>
                <th scope="col">ID</th>
                <th scope="col" style="text-align: center;">Programme Name</th>
                <th scope="col">Department</th>
                <th scope="col">Level</th>
                <th scope="col">Duration</th>
                <th scope="col" style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for program in programs %}
            <tr {% if forloop.first %} style="background-color: blue !important; color: white !important;" {% endif %}>
                <td>{{ program.id }}</td>
                <td style="text-align: center;">{{ program.programme_name }}</td>
                <td>{{ program.dept }}</td>
                <td>{{ program.level }}</td>
                <td>{{ program.duration }}</td>
                <td class="text-center">
                    <a href="{% url 'edit_program' program.pk %}" class="btn btn-sm btn-outline-warning me-1">Edit</a>
                    <a href="{% url 'delete_program' program.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
