{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 900px;">
    <h2 class="text-center mb-4 " style="font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif; color: #000000; font-size: 2rem;">Manage Programmes</h2>
    <div class="d-flex justify-content-between mb-3">
        <!-- <h4 class="text-primary">Room List</h4> -->
        <a href="{% url 'add_program' %}" class="btn btn-primary">Add New Programme</a>
    </div>
        <table class="table table-striped table-hover table-bordered">
            <!-- Header with Blue background -->
            <thead class="table-primary">
            <tr>
                <th scope="col">SI.No</th>
                <th scope="col" style="text-align: center;">Programme Name</th>
                <th scope="col" style="text-align: center;">Department</th>
                <th scope="col" style="text-align: center;">Level</th>
                <th scope="col" style="text-align: center;">Duration</th>
                <th scope="col" style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for program in programs %}
            <tr>
                <td style="text-align: center;">{{ forloop.counter }}</td>  <!-- Serial number instead of ID -->
                <td >{{ program.programme_name }}</td>
                <td >{{ program.dept }}</td>
                <td style="text-align: center;">{{ program.level }}</td>
                <td style="text-align: center;">{{ program.duration }}</td>
                <td class="text-center">
                    <div class="d-flex justify-content-center gap-2">
                        <a href="{% url 'edit_program' program.pk %}" class="btn btn-sm btn-outline-warning" style="width: 60px; height: 35px;">Edit</a>
                        <a href="{% url 'delete_program' program.pk %}" class="btn btn-sm btn-outline-danger" style="width: 60px; height: 35px;">Delete</a>
                    </div>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
