
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="container mt-5" style="max-width: 900px;">
    <h2 class="text-center mb-4">Manage Rooms</h2>
    <div class="d-flex justify-content-between mb-3">
        <h4 class="text-primary">Room List</h4>
        <a href="{% url 'add_room' %}" class="btn btn-primary">Add New Room</a>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col"style="text-align:center;">Room No</th>
                <th scope="col">No.of rows</th>
                <th scope="col">No.of Columns</th>
                <th scope="col">Block No</th>
                <th scope="col" style="text-align: center;">Actions</th>
            </tr>
        </thead>
    <tbody>
        {% for room in rooms %}
        <tr>
            <td>{{ room.room_id }}</td>
            <td>{{ room.room_no }}</td>
            <td>{{ room.no_of_rows}}</td>
            <td>{{ room.no_of_columns }}</td>
            <td>{{ room.block_no}}</td>
            <td>
                <a href="{% url 'edit_room' room.pk %}" class="btn btn-sm btn-warning me-1">Edit</a>
                <a href="{% url 'delete_room' room.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}