{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="container mt-5" style="max-width: 900px;">
    <h2 class="text-center mb-4" style="font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif; color: #000000; font-size: 2rem;">Manage Timetable</h2>
    <div class="d-flex justify-content-between mb-3">
        <!-- <h4 class="text-primary">Room List</h4> -->
        <a href="{% url 'add_timetable' %}" class="btn btn-primary">Add New Timetable</a>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-primary">
            <tr>
                <th scope="col">Exam</th>
                <th scope="col"style="text-align:center;">Course</th>
                <th scope="col">Date</th>
                <th scope="col">Session</th>
                <th scope="col" style="text-align: center;">Actions</th>
            </tr>
        </thead>
    <tbody>
        {% for timetable in timetable %}
        <tr>
            <td>{{ timetable.exam}}</td>
            <td>{{ timetable.course }}</td>
            <td>{{ timetable.date}}</td>
            <td>{{ timetable.session}}</td>
            <td>
                <a href="{% url 'edit_timetable' timetable.pk %}" class="btn btn-sm btn-outline-warning  me-1">Edit</a>
                <a href="{% url 'delete_timetable' timetable.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}